//小视频样式
.small-video {
    background: #222;
    margin: 0 0 20px 0;
    width: 320px;
    height: 240px;
}

//小画布样式 
.small-canvas {
    background-color: #ccc;
    width: 320px;
    height: 240px;
    border-color: #ccc;
    border-width: 1px;
    border-style: solid;
}